<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"/>
<body>
<nav th:replace="fragments :: navbar"/>
<form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}">
    Title:
    <input th:field="*{title}"/>
    <br/>
    Body:
    <input th:field="*{body}"/>
    <br/>
    <input type="submit" value="Edit Post"/>
    <form method="post" th:action="@{/posts/{id}/delete(id=${post.id})}">
        <input type="submit" value="Delete Post"/>
    </form>
</form>
<footer th:replace="fragments :: footer"/>
</body>
</html>