<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Springboot-Blog</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body th:fragment="body">
<nav th:fragment="navbar"></nav>
<header th:fragment="header-index">
    <h1>All Posts</h1>
</header>
<header th:fragment="header-show">
    <h1>Single Post</h1>
</header>
<footer th:fragment="footer" class="footer">Sample Copyright: © 2018 Michael Cabeza Enterprises</footer>
</body>
</html>